body {
    font-family: Handlee;
}

.btn-info:not(:disabled):not(.disabled):active {
    background-color: #cc00ffa2;
    
}

.jumbotron {
    padding-top: 10%;
    background: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1890,w_3363,x_0,y_193/f_auto,q_auto,w_1100/v1565628997/shape/mentalfloss/gettyimages-944631208.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 50%;
}

h1 {
    font-family: Handlee;
    color: #fff;
    text-shadow: 0 0 5px #000000;
}

.btn {
    font-family: Handlee;
}

.btn-default:hover {
    color: #fff;
    transform: scale(1.05);
}

.btn-default:active {
    box-shadow: 0 0 5px #ff7300c9;
}

.delete, .save, .search {
    border: none;
    border-color: #00000000;
    outline: none;
    transition: 0.2s;
}

.delete {
    background-color: #880000b6;
}

.delete:hover {
    background-color: #ff0000af;
    box-shadow: 0 0 4px #ff0000;
    transform: scale(1.05);
}

.save {
    background-color: #008d2faf;
}

.save:hover {
    background-color: #00ff55af;
    box-shadow: 0 0 4px #73ff00;
    transform: scale(1.05);
}

.search {
    background-color: #5b0085a2;
}

.search:hover {
    background-color: #ae00ffa2;
    box-shadow: 8px 8px 6px -6px black, 0 0 5px #d400ff8f;
}

.search:active {
    background-color: #cc00ffa2;
    box-shadow: 8px 8px 6px -6px black;
    transform: scale(0.9);
}

input:hover {
    box-shadow: 0 0 8px #00000065;
}

.form-control:focus {
    border: 1px solid #0000007e;
    box-shadow: 0 0 8px #0059ff81;
}
