body {
    font-family: Handlee;
}

.jumbotron {
    margin-top: 1%;
}

h1 {
    font-family: Handlee;
    color: #fff;
    text-shadow: 0 0 5px #000000;
}

.btn {
    font-family: Handlee;
}

.btn-default:hover {
    color: #fff;
    transform: scale(1.05);
}

.btn-default:active {
    box-shadow: 0 0 5px #ff7300c9;
}

.delete, .save {
    border: none;
    outline: none;
    transition: 0.2s;
}

.delete {
    background-color: #880000b6;
}

.delete:hover {
    background-color: #ff0000af;
    box-shadow: 0 0 4px #ff0000;
    transform: scale(1.05);
}

.save {
    background-color: #008d2faf;
}

.save:hover {
    background-color: #00ff55af;
    box-shadow: 0 0 4px #73ff00;
    transform: scale(1.05);
}