body {
    font-family: Handlee;
}

.jumbotron {
    margin-top: 1%;
}

h1 {
    font-family: Handlee;
    color: #fff;
    text-shadow: 0 0 5px #000000;
}

.btn {
    font-family: Handlee;
}

.btn-default:hover {
    color: #fff;
    transform: scale(1.05);
}

.btn-default:active {
    box-shadow: 0 0 5px #ff7300c9;
}

.btn-info {
    
}

.book-btn {

}